.container {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "condicion condicion tipo tipo"
    "button button button button";
}

.title {
  text-align: center;
  padding: 10px;
}

.condicion {
  padding: 10px;
  grid-area: condicion;
}

.tipo {
  padding: 10px;
  grid-area: tipo;
}

.button {
  padding: 10px;
  grid-area: button;
}

label {
  font-weight: bold;
  padding: 10px;
}
