.modules {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 237.19px));
    grid-auto-rows: 130px;
    height: 100%;
    gap: 15px;
}

.modules a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    text-decoration: none;
    color: #252525;
    gap: 5px;
    transition: all 200ms ease;
}

.modules a:hover {
    background-color: rgba(0,0,0,.03);
}
