<option value="social">Vivienda Nivel Social</option>
<option value="viv-lph-1">Vivienda LPH I</option>
<option value="viv-lph-2">Vivienda LPH II</option>
<option value="viv-lph-3">Vivienda LPH III</option>
<option value="inavi">Inmueble INAVI</option>
<option value="inm-lph-1">Inmueble LPH I</option>
<option value="inm-lph-2">Inmueble LPH II</option>
<option value="inm-lph-3">Inmueble LPH III</option>
<option value="edif-resi">Edif. Residencial</option>
<option value="local-comer">Local Comercial</option>
<option value="oficina">Oficina</option>
<option value="ofi-prop-h">Ofic. Propiedad Horizontal</option>
<option value="edif-comer">Edificacion Comercial</option>
<option value="hotel">Hotel</option>
<option value="motel">Motel</option>
<option value="posada">Posada</option>
<option value="can-par">Caney o Pargolas</option>
<option value="estacionamiento">Estacionamiento</option>
<option value="apartahotel">Apartahotel</option>
<option value="terraza">Terraza o Balcon</option>
<option value="maleteros">Maleteros</option>
<option value="galpo-comer">Galpon Comercial</option>
<option value="edif-indus">Edificacion Industrial</option>
<option value="galpon-indus">Galpon Industrial</option>
<option value="galpon-indus-h">Galpon Industrial H</option>
